// Articles
// ========
//
// Represent (often user-entered) pieces of content with
// minimal markup.
//

%article {
  @mixin sel($sel) {
    #{unquote($sel)}, ::content #{unquote($sel)} {
      @content;
    }
  }

  @include sel(unquote("*")) {
    @include trailing;
  }

  @include sel(h1) {
    @extend %callout;

    a:not([class]):not([is]) {
      @include font($ui, $weight: medium);
      @include attention(true) { @include highlight; }
      @include pressed { @include highlight; }
    }
  }

  @include sel(p) {
    @include layout($line center);
  }

  @include sel("a:not([class]):not([is])") {
    display: inline-block;
    line-height: strip-units(ms(2));
    transition:
      box-shadow 50ms linear,
      color 50ms linear,
      background-color 50ms linear,
      text-shadow 150ms linear,
      transform 225ms $ease-out-back;
    touch-action: manipulation;
    transform: translateZ(0);

    @include font($sans, $weight: semibold);
    @include highlight($light);
    @include flush;
    @include attention {
      transform: translateZ(0.3rem) scale(1.1);
      @include highlight($invert);
    }
    @include pressed {
      transform: translateZ(0.075rem) scale(0.95);
      @include highlight($invert);
    }

    // Brand colors
    @each $url, $color in $brands {
      &[href*="#{$url}"] {
        @include attention { @include highlight($color); }
        @include pressed { @include highlight($color); }
      }
    }
  }
}