// Articles
// ========
//
// Represent (often user-entered) pieces of content with
// minimal markup.
//

%article {
  @mixin sel($sel) {
    #{unquote($sel)}, ::content #{unquote($sel)} {
      @content;
    }
  }

  @include sel(unquote("*")) {
    @include trailing;
  }

  @include sel(h1) {
    @extend %callout;

    a:not([class]):not([is]) {
      @include highlight($primary-bg);
    }
  }

  @include sel(p) {
    @include layout($line center);
  }

  @include sel("a:not([class]):not([is])") {
    display: inline-block;
    line-height: strip-units(ms(2));
    transition:
      box-shadow 100ms linear,
      color 100ms linear,
      background-color 100ms linear,
      text-shadow 150ms linear,
      transform 250ms $ease-out-back;

    @include highlight($invert);
    @include flush;
    @include attention {
      transform: translateZ(0.3rem) scale(1.1);
    }
    @include pressed {
      transform: translateZ(0.075rem) scale(0.95);
    }

    // Brand colors
    &[href*="github.com"] {
      @include attention { @include highlight(#999999); }
      @include pressed { @include highlight(#999999); }
    }
    &[href*="twitter.com"] {
      @include attention { @include highlight(#55acee); }
      @include pressed { @include highlight(#55acee); }
    }
    &[href*="dribbble.com"] {
      @include attention { @include highlight(#ea4c89); }
      @include pressed { @include highlight(#ea4c89); }
    }
  }
}