// Type
// ====

// Headings
// --------
//
// Limit properties to the same in each heading style, and add extra embellishments
// elsewhere.  This way, styles can be interchanged and overriden easily
// regardless of HTML tag.
//

// This hidden class can be used to target all
// headings in an element
%heading {
  line-height: strip-units(size(medium));
}

%title {
  @extend %heading;

  letter-spacing: 0;
  text-transform: none;

  @include font($sans, $size: xxlarge, $style: normal, $weight: bold);
}

%callout {
  @extend %heading;

  letter-spacing: 0;
  text-transform: none;

  @include font($ui, $size: big, $style: normal, $weight: normal);
}


// Misc
// ----

%line {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: $line;
}

%ui {
  &:not(a):not(input):not(button) {
    cursor: default;
  }
  user-select: none;
}
a%ui {
  @extend %unstyled-link;
}

%uppercase {
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

%small {
  font-size: size(small);
}

%caption {
  @extend %small;

  @include font($sans, $style: italic);
}
