// Type
// ====

// Headings
// --------
//
// Limit properties to the same in each heading style, and add extra embellishments
// elsewhere.  This way, styles can be interchanged and overriden easily
// regardless of HTML tag.
//

// This hidden class can be used to target all
// headings in an element
%heading {
  line-height: strip-units(size(medium));
}

%title {
  @extend %heading;

  letter-spacing: 0;
  text-transform: none;

  @include font($ui, $size: large, $style: normal, $weight: normal);
}

%callout {
  @extend %heading;

  letter-spacing: 0;
  text-transform: none;

  @include font($ui, $size: ms(2), $style: normal, $weight: normal);
}


// Misc
// ----

%line {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: $line;
}

%ui {
  &:not(a):not(input):not(button) {
    cursor: default;
  }
  user-select: none;
}
a%ui {
  @extend %unstyled-link;

  touch-action: manipulation;
}

%uppercase {
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

%small {
  font-size: size(small);
}

%caption {
  @extend %small;

  @include font($sans, $style: italic);
}

@mixin underline($color: currentColor, $bg: $bg, $y: 1.13em, $shadows: null) {
  background-image: linear-gradient(#{$color}, #{$color});
  background-size: 0.059em 0.059em;
  background-position: 0 $y;
  background-repeat: repeat-x;
  text-decoration: none;
  text-shadow: 0.059em 0.059em 0 $bg, -0.059em -0.059em 0 $bg, 0.059em -0.059em 0 $bg, -0.059em 0.059em 0 $bg, 0 0.059em 0 $bg, 0.059em 0 0 $bg, 0 -0.059em 0 $bg, -0.059em 0 0 $bg;
}

@mixin highlight($bg: $primary-bg, $invert: true) {
  $bgIsColor: type-of($bg) == color;
  $invert: if($bgIsColor, yiq($bg) < 175, true);

  background-color: $bg;
  box-shadow: 0.35em 0 0 $bg, -0.35em 0 0 $bg;
  margin-left: 0.35em;
  margin-right: 0.35em;
  text-decoration: none;

  @if $invert {
    color: #fff;
    text-shadow:
      0 0.0625em 0.0625em if($bgIsColor, rgba(darken($bg, 35%), 0.1), $bg),
      0 0.3em 0.4em if($bgIsColor, rgba(darken($bg, 35%), 0.2), $bg);
  }
}
