@import "../../styles/shared";

// Floating logo
// =============

:host {
  @extend %ui;

  border-radius: 95%; // for shadow
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--logo-size) + 2px); // fix rounding in Chrome
  position: relative;
  width: calc(var(--logo-size) + 2px); // fix rounding in Chrome
}

svg {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

#base {
  fill: var(--logo-bg, black);
  transition: fill 250ms linear;
}

#text {
  fill: var(--logo-fg, white);
  transition: fill 250ms linear;
}