// Levels
// ======
//      __    _______    __________   _____
//     / /   / ____/ |  / / ____/ /  / ___/
//    / /   / __/  | | / / __/ / /   \__ \
//   / /___/ /___  | |/ / /___/ /______/ /
//  /_____/_____/  |___/_____/_____/____/
//
//                      N I C K  J Ø N A S

$perspective: 24rem !default;

@function opposing-scale($z, $scale: 1) {
  @if $z == 0 { @return $scale; }
  @return (1 + ($z * -1) / $perspective) * $scale;
}

@function level($z, $x: 0, $y: 0, $scale: 1) {
  @return unquote("translate3d(#{$x}, #{$y}, #{$z}) scale(#{opposing-scale($z, $scale)})");
}

@mixin level($z, $x: 0, $y: 0, $scale: 1, $important: false) {
  transform: level($z, $x, $y, $scale) if($important, unquote("!important"), null);
}

@mixin surface($relativeX: true, $relativeY: true) {
  perspective: $perspective;
  perspective-origin: if($relativeX, 50%, 50vw) if($relativeY, 50%, 50vh);
}
