@import "../../styles/shared";

// Home page
// =========

:host {
  &::after { height: 1px !important; }
}

#greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(70vh - var(--page-padding-top) - var(--logo-size));
  padding: 0 size(spacing) 10vh;
  transform-style: preserve-3d;

  @include query(tall) {
    min-height: calc(100vh - var(--page-padding-top) - var(--logo-size) - var(--nav-padding)/2);
    padding-bottom: 20vh;
  }
}

#works {
  @extend %clearfix;

  padding-right: var(--work-grid-spacing);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(-1 * var(--work-grid-spacing));
  max-width: $line;
  transform-style: preserve-3d;

  @include level(2rem, $y: -3rem);
  @include query(tall) {
    margin-top: calc(-1 * var(--work-grid-spacing) - 10rem);

    @include level(7.5rem, $y: -4rem);
  }

  > ::content {
    .work {
      float: left;
      margin-left: var(--work-grid-spacing);
      margin-top: var(--work-grid-spacing);
      width: calc(50% - var(--work-grid-spacing));
    }

    .work.landscape {
      width: calc(100% - var(--work-grid-spacing));
    }
  }
}