@import "../../styles/shared";

// Home page
// =========

:host {
  ::content {
    #works {
      @include container;

      .sizer, work-card {
        width: var(--work-grid-size);
      }

      .gutter {
        width: var(--work-grid-spacing);
      }

      work-card {
        margin-bottom: var(--work-grid-spacing);
      }

      work-card.landscape {
        width: calc(var(--work-grid-size) * 2);
      }
    }
  }
}

$header-size: unquote("var(--header-padding)*2 - var(--logo-size)");

#greeting-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--logo-size) - #{$header-size});
  padding-bottom: 20vh;
  padding-top: 10vh;
  transform-style: preserve-3d;
}