@import "../../styles/shared";

// Work page
// =========

:host {
  padding-top: 0 !important;

  > * {
    transform-style: preserve-3d;
  }
}

  :host(.invert) {
  }

#header {
  background-color: var(--work-page-bg);
  max-height: 90vh;
  transform-style: preserve-3d;

  hgroup {
    color: var(--work-page-fg);
    padding-top: calc(#{$page-padding-top});

    h1 {
      @extend %title;

      @include trailing(size(spacing)/2);
    }

    h2 {
      opacity: 0.6;
    }
  }

  figure {
    @include query(bravo) {
      @include span(last 4);
      @include level(10rem, $y: 5vh);
      @include removed;

      img {
        box-shadow: 0 2.4rem 5rem var(--work-page-shadow), 0 1.66rem 1.4rem var(--work-page-shadow);
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 100vh;
      }
    }
  }
}

.wrap {
  @include layout;
}

article {
  @extend %article;
}