@import "../../styles/shared";

:host {
}

$header-size: unquote("var(--header-padding)*2 - var(--logo-size)");

#greeting-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - #{$header-size} - #{$header-size});
  padding-bottom: 20vh;
  padding-top: 10vh;
}

