// Type
// ====

// Scale
// -----

$modularscale: (
  base: 18px,
  ratio: $major-second
);

// Stacks
// ------

$sans: "soleil", "Futura", "Helvetica", sans-serif;
$serif: "ff-meta-serif-web-pro", "Georgia", serif;
