{
  "env": {
    "browser": true
  },
  "globals": {
    "Polymer": true,
    "app": true
  },
  "rules": {
    "new-cap": [2, {
      "capIsNewExceptions": ["Polymer"]
    }],
    "require-jsdoc": 0
  }
}