{% comment %}
  Including the file preprocesses liquid tags
{% endcomment %}
{% capture content %}{% include {{include.page.path}} %}{% endcapture %}

{% assign newContent = "" %}

{% comment %}
  Strip frontmatter
{% endcomment %}
{% capture nl %}
{% endcapture %}
{% assign lines = content | split: nl %}
{% assign dashCount = 0 %}
{% for l in lines %}
  {% if l == '---' %}
    {% assign dashCount = dashCount | plus: 1 %}
  {% elsif dashCount >= 2 %}
    {% assign newContent = newContent | append: l | append: nl %}
  {% endif %}
{% endfor %}

{% comment %}
   Compile markdown
{% endcomment %}
{% assign ext = include.page.path | split: '.' | last %}
{% if ext == 'md' or ext == 'markdown' %}
  {% assign newContent = newContent | markdownify %}
{% endif %}

{% comment %}
  Prefix relative urls
{% endcomment %}
{% capture baseHref %}href="/{{ site.baseurl }}{% endcapture %}
{% assign newContent = newContent | replace: 'href="/', baseHref %}
{% capture baseSrc %}src="/{{ site.baseurl }}{% endcapture %}
{% assign newContent = newContent | replace: 'src="/', baseSrc %}

{% comment %}
  Document targets
{% endcomment %}
{% assign newContent = newContent | replace: '.pdf"', '.pdf" target="_blank"' %}

{{ newContent }}