// Layout
// ======

$line: 4; // columns
$padding: size(spacing); // grid padding

$susy: (
  columns: 6,
  gutters: size(spacing)/7.5rem,
  math: fluid,
  output: float,
  column-width: 7.5rem,
  gutter-position: after,
  global-box-sizing: border-box
);
