// Colors
// ======

$bg: #fff;
$invert: invert($bg);
$base: #414353;
$light: #e7ebf0;

$primary-bg: #4be8be;
$primary-fg: #22a784;

$brands: (
  naperville: #307AB3,
  wsol: #F79B48,
  github: #999999,
  twitter: #55acee,
  dribbble: #ea4c89,
  spotify: #2ebd59,
  polymer: #E23D75,
  redux: #4183c4,
  letterboxd: #6DBC45
);
