// Colors
// ======

$bg: #fff;
$invert: invert($bg);
$base: #3b3e55;
$light: #738195;

$primary-bg: #4be8be;
$primary-fg: #22a784;

$brands: (
  naperville: #307AB3,
  wsol: #F79B48,
  github: #999999,
  twitter: #55acee,
  dribbble: #ea4c89
);
