// Type
// ====

$short-line: 30em;
$line: 36em;

// Scale
// -----

$ms-base: 1rem;
$ms-ratio: 1.618, 1.236;

// Stack
// -----

$sans: source;
$ui: soleto;

$fonts: (
  source: (
    stack: ("source-sans-pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif),
    weights: (normal: 400, bold: 700),
    styles: (normal: normal italic, bold: normal italic)
  ),
  soleto: (
    stack: ("soleto", "San Francisco Display", "Avenir", sans-serif),
    weights: (normal: 400, bold: 700),
    styles: (normal: normal, bold: normal)
  )
);
