// Type
// ====

$line: 30em;

// Scale
// -----

$ms-base: 1rem;
$ms-ratio: 1.618,1.236;

// Stack
// -----

$sans: soleto;

$fonts: (
  soleto: (
    stack: ("Soleto", "San Francisco Display", "Avenir", sans-serif),
    weights: (normal: 400, bold: 700),
    styles: (normal: normal, bold: normal)
  )
);
