@import "../../styles/shared";

// App
// ===

:host {
  display: block;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  @include surface;

  > * {
    transform-style: preserve-3d;
  }
}

// Nav
// ---

#nav {
  position: fixed;
  top: 0;
  width: 100%;

  &.modal {
    position: absolute;
  }
}

// Pages
// -----

#pages {
  height: 100%;

  ::content > .page {
    bottom: auto;
    height: auto;
    padding-bottom: calc(#{$page-padding-bottom});
    padding-top: calc(#{$page-padding-top});
    transform-style: preserve-3d;

    &::before, &::after {
      content: '';
      display: block;
      pointer-events: none;
    }
  }
}
