// Grids
// =====
//
// Not layout related.
//

.grid {
  align-items: stretch;
  display: flex;

  > *, &__col > *, &__item {
    display: flex;
    flex: 1;
  }

  @include horizontal;

  &__col {
    align-items: stretch;
    display: flex;
    flex-flow: column;

    @include vertical;
  }
}
