// Site header
// ===========

.site-header {
  &__logo {
    @include unstyled-link;

    color: $black;
    font-size: ms(1);
    font-weight: 700;
  }

  &__role {
    color: $gray;
    font-weight: 500;
  }

  &__nav {
    @include inline-list(ms(3));

    > a {
      @include unstyled-link;

      color: $gray;
      font-family: $sans;
      // padding-bottom: $xsmall;
      // padding-top: $xsmall;

      &.is-active {
        // box-shadow: 0 2px 0 $black;
        color: $black;
      }
    }
  }

  &__external {
    @include horizontal(ms(0));

    > a {
      display: inline-block;
      user-select: none;
      vertical-align: middle;

      &:not(:hover):not(:focus) {
        > .icon {
          color: $light-gray;
        }
      }

      > .icon {
        display: inline-block;
        font-size: 1.333em;
      }
    }
  }

  @include query(expanded) {
    align-items: center;
    display: flex;

    @include compact;

    &__nav {
      flex: 1;
      text-align: center;
    }
  }
}
