// Work card
// =========

.work {
  position: relative;

  &, &__wrapper {
    display: flex;
  }

  &__wrapper {
    background-color: currentColor;
    flex-flow: column;
    flex: 1;
    overflow: hidden;
    padding: ms(7);
    position: relative;
    text-shadow: 0 1px 12px currentColor, 0 1px 12px currentColor;
  }

  // Shadow
  &::before {
    box-shadow: 0 0.16em 1.5em -0.625em currentColor;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.15;
    position: absolute;
    top: 0;
    width: 100%;
  }

  // Elements
  // --------

  &__title {
    color: #fff;
    font-family: $sans;
    font-size: ms(6);
    font-weight: 700;
    position: relative;
  }

  &__desc {
    @include leading(ms(1));

    color: #fff;
    flex: 1;
    font-size: ms(2);
    line-height: ms(2)/ms(0);
    position: relative;
  }

  &__tags {
    @include leading(0);
    @include inline-list(0);

    > * {
      color: #fff;
      font-family: $sans;
      letter-spacing: 0.015em;
      position: relative;

      + *::before {
        content: ',';
        margin-right: 0.333em;
      }
    }
  }

  &__teaser-wrapper {
    @include removed;
    position: absolute;
  }

  // Modifiers
  // ---------

  &--link {
    &, &::before, .work__teaser-wrapper {
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.15, 1.2, 0.82, 1.02);
    }

    // Shadow
    &::before {
      transition-property: opacity;
    }

    &:hover {
      transition-property: transform;
      transform: scale(1.025);

      .work__teaser-wrapper {
        transition-property: transform;
        transform: scale(0.97);
      }

      &::before {
        opacity: 1;
      }

      .work__wrapper::after {
        background-position: 230% 50%;
        opacity: 1;
      }
    }

    // Chevron
    .work__wrapper::after {
      background: url('/assets/images/chevron.svg') repeat-x 3.5% 50%;
      background-size: auto 45%;
      border: 2px solid #fff;
      border-radius: 100%;
      content: '';
      display: inline-block;
      height: ms(6);
      margin-top: ms(1);
      opacity: 0.8;
      overflow: hidden;
      position: relative;
      transition: background-position 0.15s ease-in-out, opacity 0.15s ease-in-out;
      width: ms(6);
    }
  }
}


// Specific works
// --------------

.skinio-work {
  &.skinio-work {
    color: rgba(#0b6391, 0.8);
  }

  .work__wrapper {
    color: #4297CC;
  }

  .work__desc {
    padding-right: 50%;
  }

  .work__teaser-wrapper {
    right: 7.5%;
    position: absolute;
    top: 25%;
  }
}

.doing-work {
  &.doing-work {
    color: rgba(#222b94, 0.8);
  }

  .work__wrapper {
    color: #3E4BE3;
  }

  .work__desc {
    padding-right: 30%;
  }

  .work__teaser-wrapper {
    right: 10%;
    top: 20%;
  }
}

.clear-work {
  &.clear-work {
    color: rgba(#0694a1, 0.8); // shadow
  }

  .work__wrapper {
    color: #23CBDA;
    text-align: right;
  }

  .work__desc {
    padding-left: 15%;
  }

  .work__teaser-wrapper {
    left: 5%;
    bottom: -25%;
  }
}
