@import "../../styles/shared";

:host {
  @extend %line;
  @extend %callout;

  display: block;
  text-align: center;
  transition: transform 250ms $ease-out-back;

  @include attention {
    transform: translateZ(15px);
  }
  @include pressed {
    transform: translateZ(-10px);
  }

  > ::content > .content {
    display: inline;

    @include attention {
      a {
        opacity: 0.3;

        @include inattention {
          transition-duration: 100ms;
        }
      }
    }

    a {
      @extend %unstyled-link;

      transition: all 200ms linear;

      @include attention {
        opacity: 1;
      }
    }

    .sentence {
      @include compact;

      > .ch {
        position: relative;
      }
    }

    .highlight, mark {
      background-color: $primary;
      box-shadow: 0.25em 0 0 $primary, -0.25em 0 0 $primary;
      color: #fff;
      margin-left: 0.25em;
      margin-right: 0.25em;
      text-shadow: 0 0.0625em 0.0625em rgba($base, 0.1), 0 0.3em 0.4em rgba($base, 0.2);
    }
  }
}
