@import "../../styles/shared";

:host {
  @extend %callout;
  @extend %unstyled-link;

  display: block;
  max-width: $line;
  text-align: center;

  > ::content {
    .sentence {
      @include compact;

      > .ch {
        position: relative;
      }
    }

    mark {
      background: $primary;
      box-shadow:
        0.25em 0 0 $primary, -0.25em 0 0 $primary;
      margin-left: 0.25em;
      margin-right: 0.25em;
      color: #fff;
      text-shadow: 0 0.0625em 0.0625em rgba($base, 0.1), 0 0.35em 0.7em rgba($base, 0.4);
    }
  }
}
