@import "../../styles/shared";

// Work card
// =========

:host {
  display: block;
  overflow: hidden;
  position: relative;
  touch-action: manipulation;

  @include level(0);
}

// Portrait / mobile
// -----------------

#bg {
  background-color: lighten($light, 3.5%);
  display: block;
  padding-bottom: 100%;
  width: 100%;
}

#wrapper {
  @extend %stretch;

  padding: var(--work-card-spacing, #{size(spacing)});

  > a {
    @extend %stretch;
    @extend %unstyled-link;

    display: block;
    padding: var(--work-card-spacing, #{size(spacing)});
  }
}

  :host(.invert) {
    header h1 {
      color: var(--work-card-bg);
    }
  }

  :host([href]) {
    &, figure img {
      transition: box-shadow 125ms linear, transform 250ms $ease-out-back;
    }

    #bg {
      transition: background-color 100ms linear;
    }

    header h1, header h2 {
      transition: color 100ms linear;
    }

    transform-style: preserve-3d;

    @include surface;
    @include attention {
      #bg {
        background-color: var(--work-card-bg);
      }
      figure img {
        box-shadow: 0 0.4rem 1.333rem -0.25rem var(--work-card-shadow);
        transform: translate3d(0, -3%, -2rem);
      }
      transform: translateZ(0.75rem);
    }
    @include pressed {
      #bg {
        background-color: var(--work-card-bg);
      }
      figure img {
        box-shadow: 0 0.4rem 1.333rem -0.25rem var(--work-card-shadow);
      }
      transform: translateZ(-0.4rem);
    }

    figure {
      transform-style: preserve-3d;

      img {
        transform: translateZ(0);
      }
    }
  }

  :host([href].invert) {
    @include attention {
      header h1, header h2 {
        color: var(--work-card-fg);
      }
    }
    @include pressed {
      header h1, header h2 {
        color: var(--work-card-fg);
      }
    }
  }

header {
  padding: calc(var(--work-card-spacing, #{size(spacing)}) / 2);
  margin-bottom: 7.5%;
  text-align: center;

  h1 {
    color: var(--work-card-fg);
    line-height: strip-units(size(medium));

    @include font($ui, $weight: normal, $size: medium);
    @include trailing(0.25em);
  }

  h2 {
    line-height: strip-units(size(medium));
    opacity: 0.6;

    @include font($sans, $weight: normal, $size: base);
    @include query(alpha, true) {
      @include hidden;
    }
  }
}

figure {
  display: block;
  position: relative;

  > img {
    box-shadow: 0 0.4rem 1.333rem -0.25rem rgba($base, 0.4);
    display: block;
    max-width: 100%;
  }
}


@include query(alpha) {
  :host(.portrait) {
    #bg {
      padding-bottom: 150%;
    }
  }

  // Landscape
  // ---------

  :host(.landscape) {
    #bg {
      padding-bottom: 57.5%;
    }

    header {
      left: 0;
      padding: calc(var(--work-card-spacing, #{size(spacing)}) * 2);
      position: absolute;
      text-align: left;
      top: 0;
      width: 40%;
    }

    figure {
      left: 40%;
      position: absolute;
      top: calc(var(--work-card-spacing, #{size(spacing)}) * 1.5);

      > img {
        max-width: 120%;
      }
    }
  }

    :host(.landscape[href]) {
      @include attention {
        figure img {
          transform: translate3d(-2%, -2%, -1.5rem);
        }
      }
    }
}
