@import "../../styles/shared";

// Work card
// =========

:host {
  background-color: var(--work-card-bg);
  color: var(--work-card-fg);
  display: block;
  overflow: hidden;
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
  }
}

#wrapper {
  @extend %stretch;

  padding: var(--work-card-spacing, #{size(spacing)});

  > a {
    @extend %unstyled-link;

    display: block;
  }
}

header {
  h1 {
    @include font($ui, $weight: normal, $size: medium);
  }

  h2 {
    opacity: 0.6;

    @include font($sans, $weight: normal, $size: base);
  }
}

figure {
  display: inline-block;
  position: relative;

  &::before {
    @extend %stretch;

    box-shadow: 0 0.4rem 1.333rem -0.25rem var(--work-card-shadow);
    content: '';
    opacity: 0.6;
  }

  > img {
    display: block;
  }
}

// Portrait
// --------

:host(.portrait) {
  &::before {
    padding-bottom: 150%;
  }

  header {
    padding: calc(var(--work-card-spacing, #{size(spacing)}) / 2);
    margin-bottom: 7.5%;
    text-align: center;
  }

  figure > img {
    max-width: 100%;
  }
}


// Landscape
// ---------

:host(.landscape) {
  &::before {
    padding-bottom: 57.5%;
  }

  header {
    left: 0;
    padding: calc(var(--work-card-spacing, #{size(spacing)}) * 2);
    position: absolute;
    text-align: left;
    top: 0;
    width: 40%;
  }

  figure {
    left: 40%;
    position: absolute;
    top: calc(var(--work-card-spacing, #{size(spacing)}) * 1.5);

    > img {
      max-width: 120%;
    }
  }
}
