@import "../../styles/shared";

// Work card
// =========

:host {
  background-color: var(--work-card-bg);
  color: var(--work-card-fg);
  display: block;
  overflow: hidden;
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
  }

  @include level(0);
}

#wrapper {
  @extend %stretch;

  padding: var(--work-card-spacing, #{size(spacing)});

  > a {
    @extend %stretch;
    @extend %unstyled-link;

    display: block;
  }
}

  :host([href]) {
    &, header, figure {
      transition: transform 250ms $ease-out-back;
    }

    transform-style: preserve-3d;

    @include surface;
    @include attention {
      transform: translateZ(0.75rem);

      header, figure {
        transform: translateZ(-0.8125rem);
      }
    }
    @include pressed {
      transform: translateZ(-0.4rem);
    }
  }

header {
  h1 {
    line-height: strip-units(size(medium));

    @include font($ui, $weight: normal, $size: medium);
    @include trailing(0.25em);
  }

  h2 {
    line-height: strip-units(size(medium));
    opacity: 0.6;

    @include font($sans, $weight: normal, $size: base);
  }
}

figure {
  display: inline-block;
  position: relative;

  &::before {
    @extend %stretch;

    box-shadow: 0 0.4rem 1.333rem -0.25rem var(--work-card-shadow);
    content: '';
    opacity: 0.6;
  }

  > img {
    display: block;
  }
}

// Portrait
// --------

:host(.portrait) {
  &::before {
    padding-bottom: 150%;
  }

  #wrapper > a {
    padding: var(--work-card-spacing, #{size(spacing)});
  }

  header {
    padding: calc(var(--work-card-spacing, #{size(spacing)}) / 2);
    margin-bottom: 7.5%;
    text-align: center;
  }

  figure > img {
    max-width: 100%;
  }
}


// Landscape
// ---------

:host(.landscape) {
  &::before {
    padding-bottom: 57.5%;
  }

  header {
    left: 0;
    padding: calc(var(--work-card-spacing, #{size(spacing)}) * 2);
    position: absolute;
    text-align: left;
    top: 0;
    width: 40%;
  }

  figure {
    left: 40%;
    position: absolute;
    top: calc(var(--work-card-spacing, #{size(spacing)}) * 1.5);

    > img {
      max-width: 120%;
    }
  }
}
