// Type
// ====

// Base
// ----

html {
  &, body {
    background: $bg;
  }
  color: $base;
  line-height: strip-units(ms(3));
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;

  @include font($sans, $size: 100%);
}

// Misc
// ----

code {
  color: red;
  font-size: size(small);
}