// Type
// ====

// Base
// ----

html {
  &, body {
    background: $bg;
  }
  color: $base;
  line-height: strip-units(size(big));
  font-feature-settings: "liga" 1, "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;

  @include font($sans, $size: 15px);
  @include query(tall) { font-size: 17px; }
}

// Misc
// ----

code {
  font-size: size(small);
}