// Type
// ====

// Base
// ----

html {
  color: $base;
  line-height: strip-units(ms(3));
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;

  @include font($sans, $size: 100%);
}

// Misc
// ----

code {
}