@import "../../styles/shared";

// Floating logo
// =============

:host {
  @extend %ui;

  background-color: var(--logo-color);
  border-radius: 90%;
  box-shadow: 0 10px 20px rgba($base, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--logo-size) + 1px); // fix rounding in Chrome
  position: relative;
  transition: transform 250ms $ease-out-back;
  width: calc(var(--logo-size) + 1px); // fix rounding in Chrome

  @include level(1rem, $y: 0.4rem);
  @include query(tall) { @include level(1rem, $y: 0.75rem); }
  @include attention {
    @include level(1.5rem, $y: 0.4rem, $scale: 1.1);
    @include query(tall) { @include level(1.5rem, $y: 0.75rem, $scale: 1.1); }
  }
  @include pressed {
    @include level(0.85rem, $y: 0.4rem, $scale: 0.95);
    @include query(tall) { @include level(0.85rem, $y: 0.75rem, $scale: 0.95); }
  }

  span {
    color: $bg;

    @include font($ui, $weight: bold, $size: large);
    position: relative;
  }
}

svg {
  fill: var(--logo-color);
  left: 0;
  height: 100%;
  top: 0;
  position: absolute;
  width: 100%;
}
