@import "../../styles/shared";

:host {
  @extend %ui;
  @include compact;

  display: flex;
  align-items: center;
  justify-content: center;
  height: size(giant);
  position: relative;
  width: size(giant);

  @extend %unstyled-link;

  transition: all 250ms $ease-out-back;

  @include attention {
    text-shadow: 0 0.0625em 0.0625em rgba($base, 0.1), 0 0.35em 0.7em rgba($base, 0.4);
    transform: scale(1.1);
  }
  @include pressed {
    transform: scale(0.95);
  }

  span {
    color: $bg;

    @include font($sans, $weight: bold, $size: large);
    position: relative;
  }
}

svg {
  fill: $invert;
  filter: drop-shadow(0 10px 20px rgba($base, 0.4));
  left: 0;
  height: 100%;
  top: 0;
  position: absolute;
  width: 100%;
}
