// Levels
// ======
//      __    _______    __________   _____
//     / /   / ____/ |  / / ____/ /  / ___/
//    / /   / __/  | | / / __/ / /   \__ \
//   / /___/ /___  | |/ / /___/ /______/ /
//  /_____/_____/  |___/_____/_____/____/
//
//                      N I C K  J Ø N A S

$perspective: 24rem !default;

@function opposing-scale($z, $scale: 1) {
  @if $z == 0 { @return $scale; }
  @return (1 + ($z * -1) / $perspective) * $scale;
}

@function level($z, $y: 0, $scale: 1) {
  @return unquote("translateZ(#{$z}) translateY(#{$y}) scale(#{opposing-scale($z, $scale)})");
}

@mixin level($z, $y: 0, $scale: 1) {
  transform: level($z, $y, $scale);
}

@mixin surface {
  perspective: $perspective;
  perspective-origin: 50% 50%;
}
