@import "shared";

// App
// ===

:root, body {
  height: 100%;
}

:root {
  overflow: hidden;
}

// Pages
// -----

#pages {
  @extend %stretch;

  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  transform-style: flat;

  @include surface;

  > * {
    transform-style: preserve-3d;
    z-index: $page-z-index;

    &::before, &::after {
      content: '';
      display: block;
    }

    &::before {
      height: calc(#{$page-padding-top});
    }

    &::after {
      height: calc(#{$page-padding-bottom});
    }
  }
}