@import "../../styles/shared";

// Floating nav
// ============

:host {
  background: linear-gradient(to bottom, rgba($bg, 1) 0%, rgba($bg, 0.85) 35%, rgba($bg, 0.575) 65%, rgba($bg, 0));
  padding-bottom: $nav-padding-bottom;
  padding-top: $nav-padding-top;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $nav-z-index;


  ::content a {
    &, * {
      transition: fill 175ms linear, color 175ms linear, transform 250ms $ease-out-back !important;
    }

    outline: none;
    pointer-events: auto;
  }

  ::content [is$="logo"] {
    &::before {
      @extend %stretch;

      border-radius: 100%;
      bottom: 1px; // rounding fix
      box-shadow:
        0 0.58rem 1.17rem var(--floating-nav-shadow, #{rgba($base, 0.5)}); //,
        // 0 0.25rem 0.35rem var(--floating-nav-shadow, #{rgba($base, 0.15)}); // polyfill can't handle two vars with defaults
      content: '';
    }

    @include level(1rem, $y: 0.4rem);
    @include attention {
      @include level(1.5rem, $y: 0.4rem, $scale: 1.1);
    }
    @include pressed {
      @include level(0.85rem, $y: 0.4rem, $scale: 0.95);
    }
  }
}

#wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include layout;
  @include surface($relativeY: false);
}

.menu {
  @extend %unstyled-list;

  align-items: baseline;
  display: flex;
  flex: 1;
  justify-content: center;
  transform-style: preserve-3d;

  ::content a {
    @extend %ui;

    display: block;
    padding: 1em;
    position: relative;
    text-shadow: times(0 0 3em $bg, 15);

    @include font($ui);
    @include level(0.25rem, $y: -5%);

    &:not(.iron-selected) {
      @include attention {
        @include level(0.5rem, $y: -5%, $scale: 1.1);
      }
    }

    @include pressed {
      @include level(0.1rem, $y: -5%, $scale: 0.95, $important: true);
    }
  }
}

#left {
  @include query(bravo) {
    padding-left: 10%;
  }
}

#right {
  @include query(bravo) {
    padding-right: 10%;
  }
}

// Styles
// ------

:host(.invert) {
  background: linear-gradient(to bottom, rgba($bg, 0.1), rgba($bg, 0));

  .menu ::content a {
    color: $bg;
    text-shadow:
      0 0.125em 0.25em var(--floating-nav-shadow, #{rgba(darken($base, 20%), 0.2)}); //,
      // 0 0.0625em 0.0625em var(--floating-nav-shadow, #{rgba(darken($base, 35%), 0.1)}); // polyfill can't handle two vars with defaults
    transition: transform 250ms $ease-out-back;
  }

  // FIXME when custom properties work better
  /deep/ [is$="logo"] {
    #base { fill: $bg; }
    #text { fill: $invert; }
  }
}
