@import "../../styles/shared";

// Floating nav
// ============

:host {
  background: linear-gradient(to bottom, rgba($bg, 1) 0%, rgba($bg, 0.85) 35%, rgba($bg, 0.575) 65%, rgba($bg, 0));
  padding-bottom: var(--nav-padding-bottom);
  padding-top: var(--nav-padding-top);
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;


  ::content a {
    &, * {
      transition: fill 250ms linear, color 250ms linear, transform 250ms $ease-out-back;
    }

    outline: none;
    pointer-events: auto;
  }

  ::content [is$="logo"] {
    &::before {
      @extend %stretch;

      border-radius: 100%;
      bottom: 1px; // rounding fix
      box-shadow: 0 0.58rem 1.17rem rgba($base, 0.4), 0 0.35rem 0.35rem rgba($base, 0.125);
      content: '';
    }

    @include level(1rem, $y: 0.4rem);
    @include attention {
      @include level(1.5rem, $y: 0.4rem, $scale: 1.1);
    }
    @include pressed {
      @include level(0.85rem, $y: 0.4rem, $scale: 0.95);
    }
  }
}

#wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include layout;
  @include surface($relativeY: false);
}

.menu {
  @extend %unstyled-list;

  align-items: baseline;
  display: flex;
  flex: 1;
  justify-content: center;
  transform-style: preserve-3d;

  ::content a {
    @extend %ui;

    display: block;
    padding: 1em;
    position: relative;
    text-shadow: times(0 0 3em $bg, 15);

    @include font($ui);
    @include level(0.25rem, $y: -5%);

    // &::before {
    //   @extend %stretch;
    //
    //   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iODJweCIgaGVpZ2h0PSI4MnB4IiB2aWV3Qm94PSIwIDAgODIgODIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8cGF0aCBkPSJNNDEsODAgQzY0Ljk0MDU5NDEsODAgODAsNjQuOTQwNTk0MSA4MCw0MSBDODAsMTcuMDU5NDA1OSA2NC45NDA1OTQxLDIgNDEsMiBDMTcuMDU5NDA1OSwyIDIsMTcuMDU5NDA1OSAyLDQxIEMyLDY0Ljk0MDU5NDEgMTcuMDU5NDA1OSw4MCA0MSw4MCBMNDEsODAgWiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRTdFQkYwIiBzdHJva2Utd2lkdGg9IjMiIC8+PC9zdmc+) no-repeat center center;
    //   background-size: contain;
    //   content: '';
    //   z-index: -1;
    // }

    &:not(.iron-selected) {
      @include attention {
        @include level(0.5rem, $y: -5%, $scale: 1.1);
      }
    }

    @include pressed {
      @include level(0.1rem, $y: -5%, $scale: 0.95, $important: true);
    }
  }
}

#left {
  @include query(bravo) {
    padding-left: 10%;
  }
}

#right {
  @include query(bravo) {
    padding-right: 10%;
  }
}

// Styles
// ------

:host(.invert) {
  background: linear-gradient(to bottom, rgba($bg, 0.15), rgba($bg, 0));

  ul > li > a {
    color: $bg;
    text-shadow: none;
    transition: transform 250ms $ease-out-back;
  }

  // FIXME when custom properties work better
  /deep/ [is$="logo"] {
    #base { fill: $bg !important; }
    #text { fill: $invert !important; }
  }
}
