<header class="site-header">
  <a class="site-header__logo" href="{% link index.html %}">
    Maxwell Barvian{% comment %},
    <span class="site-header__role">
      Designer
    </span>{% endcomment %}
  </a>
  {% comment %}
  <nav role="navigation" class="site-header__nav">
    <a href="{% link about.md %}"{% if page.path == 'about.md' %} class="is-active"{% endif %}>
      About
    </a>
    <a href="{{ site.resume }}" target="_blank">
      Résumé
    </a>
    <a href="mailto:{{site.email}}">
      Contact
    </a>
  </nav>
  {% endcomment %}
</header>
