// Page
// ====

:root {
  background-color: $bg;
}

.page {
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: scalc("#{ms(7)} + 2vh");
  padding-top: scalc("#{ms(7)} + 2vh");
}

// Pages
// -----

.home-page {
  &:root {
    // I will never understand why this needs to be flipped
    background-image: linear-gradient(to top, $bg 50%, #fff 50%);
  }

  body {
    background-image: linear-gradient(to bottom, $bg 0%, #fff 41%);
  }
}
