// Grids
// =====
//
// Not layout related.
//

.grid {
  align-items: stretch;
  display: flex;

  @include horizontal;
}

.grid > *,
.grid__col > *,
.grid__item {
  display: flex;
  flex: 1;
}

.grid__col {
  align-items: stretch;
  display: flex;
  flex-flow: column;

  @include vertical;
}
