---
layout: default
---

{% comment %}
  For deep-linking we need every page to be exactly the same,
  so no {{ content }}. JavaScript will configure the route
  based on the URL.
{% endcomment %}

{% assign pages = site.pages | sort: 'order' %}
<template is="dom-bind" id="app">
  <style is="custom-style" include="app-styles"></style>

  <page-title title="[[selectedPage.pageTitle]]"></page-title>

  <nav id="nav" role="navigation">
    <ul>
      {% for page in pages %}
      {% if page.url == '/' %}
    </ul>
        <a is="floating-logo" href="{{ '/' | prepend: site.baseurl }}">mb</a>
    <ul>
      {% else %}
      <li>
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <neon-animated-pages id="pages" attr-for-selected="data-route" selected="[[route]]"
    selected-item="{% raw %}{{selectedPage}}{% endraw %}">
    {% for page in pages %}
    {% assign tag = page.title | downcase | replace: ' ', '-' %}
    <{{ tag }}-page data-route="{{ page.url }}" page-title="{% include _title.html page=page %}">
      {% include _content.html page=page %}
    </{{ tag }}-page>
    {% endfor %}
  </neon-animated-pages>
</template>

<!-- Fallback -->
{% include _noscript.html %}
