<!DOCTYPE html>
<html lang="en" {% if page.class %} class="{{page.class}}-page"{% endif %}>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% include title.html page=page %}
  {% include description.html %}
  {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords | join: ', ' }}" />
  {% endif %}
  {% include author.html page=page %}
  <link rel="canonical" href="{{ page.url | prepend: site.url }}" />

  {% include typekit.html %}
  <link rel="stylesheet" href="/assets/css/barvian.css" />

  <aside hidden class="sprites">{% include sprites.svg %}</aside>
  <div class="page">
    {{ content }}
  </div>

  <script src="{% link assets/js/lib/rellax.min.js %}"></script>
  <script src="{% link assets/js/barvian.js %}"></script>
</html>
