<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% include title.html page=page %}
  {% include description.html %}

  {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords | join: ', ' }}" />
  {% endif %}
  {% include author.html page=page %}
  <link rel="canonical" href="{{ page.url | prepend: site.url }}" />

  <!-- Sprites  -->
  <div style="display:none">{% include sprites.svg %}</div>

  {% include components/site-header.html %}
  {{ content }}
</html>
