// Icons
// =====

.icon {
  display: inline-block;
  height: 1em;
}

// Sprites
// -------

/**
 * Style a sprite's contents directly.
 */
@mixin sprite($name: null) {
  @at-root {
    .sprites > svg {
      @if $name {
        ##{$name} {
          @content;
        }
      } @else { // style all sprites
        @content;
      }
    }
  }
}

@include sprite {
  path {
    fill: currentColor;
  }
}

.dribbble-icon {
  color: #EA4C89;
  width: 1em;
}

.github-icon {
  color: #4078C0;
  width: 19/18 * 1em;
}

.linkedin-icon {
  color: #0077B5;
  width: 19/18 * 1em;
}

@keyframes marker-out {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.marker-icon {
  display: inline-block;
  height: ms(-4);
  margin-right: 0.35em;
  position: relative;
  top: -0.07em;
  width: ms(-4);
  vertical-align: baseline;
}

  .marker-icon::before {
    animation: marker-out 1.85s infinite ease-out;
    background-image: radial-gradient(circle, rgba(#57ace2, 0) 40%, rgba(#57ace2, 0.5) 100%);
    border-radius: 100%;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .marker-icon::after {
    background-color: #4297CC;
    border-radius: 100%;
    content: '';
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
  }
