// Page
// ====

:root {
  background-color: $bg;
  // I will never understand why this needs to be flipped
  background-image: linear-gradient(to top, $bg 50%, #fff 50%);
}

body {
  background-image: linear-gradient(to bottom, $bg 0%, #fff 41%);
}

.page {
  min-height: 100vh;
  overflow: hidden;
  padding-top: scalc("#{ms(7)} + 2vh");
  padding-bottom: scalc("#{ms(8)} + 3vh");
  position: relative;
}
