// Type
// ====

:root {
  color: $black;
  line-height: ms(3)/ms(0);
  text-rendering: optimizeLegibility;
  font-family: $serif;
  font-size: ms(0);
  font-weight: 500;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
}

.lede {
  font-size: ms(7);
  font-family: $sans;
  font-weight: 600;
  line-height: ms(2)/ms(0);
}
